<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="split">
        <h1>Registration</h1>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/create_user" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>First Name</td>
                    <td><input type="text" name="f_name"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" name="l_name"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="pword"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="text" name="cnfrm_pword"></td>
                </tr>
            </table>
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="split">
        <h1>Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="login_email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" name="login_pword"></td>
                </tr>
            </table>
            <input type="submit" value="Log In">
        </form> 
    </div>
</body>
</html>